body {
    width: 100vw;
    height: 100vh;
    background-color: #8d8d8d;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

